#![allow(dead_code, unused_imports)]
#[macro_use]
extern crate lazy_static;
use aoc::{get_input, report};
use itertools::Itertools;
use anyhow::{Context, Result};

fn main() {
    let input = get_input(__DAY__);

    report(
        (|| part1(&input), Some(1), None),
        (|| part2(&input), None, None),
    );
}

fn part1(input: &str) -> u64 {
    1
}

fn part2(_input: &str) -> u64 {
    2
}
