#![allow(dead_code, unused_imports)]
#[macro_use]
extern crate lazy_static;
use aoc::{get_input, report};
use itertools::Itertools;

fn main() {
    let input = get_input(__DAY__);

    let a = part1();
    let b = part2();

    report(
        (|| part1(input.clone()), Some(1), None),
        (|| part2(input.clone()), None, None),
    );
}

fn part1() -> u32 {
    1
}

fn part2() -> u32 {
    2
}
